{% extends "bank/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="content-section">
      <h2>Are you sure?</h2>
      <p class="text-muted">This will make {{ new_owner }} the new owner of {{ org }}, and you will become an employee.</p>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Yes, I am sure</button>
        </div>
      </form>
    </div>
{% endblock body %}