{% extends "bank/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="content-section">
      <h4 class="border-bottom md-1">Check your DMs</h4>
        <p>You should receive a Discord DM from the Democraciv Discord Bot in about 30 seconds with a link to reset your password.</p>
        <p>Do not share that link with anyone else.</p>
        <p>If you did not connect your Discord Account prior to this, please contact DerJonas#8036 on Discord.</p>

    </div>
{% endblock body %}