{% extends "bank/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Request a Password Reset</legend>
                <p class="text-muted">You will receive a Discord DM by the Democraciv Discord Bot with a link to reset your password. If you did not connect your Discord Account
                    prior to this, please contact DerJonas#8036 on Discord.</p><br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Request</button>
            </div>
        </form>
    </div>
{% endblock body %}